.card {
  display: flex;
  align-items: center;
  min-width: 172px;
  border-radius: 20px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.cardTitle {
  padding-left: 10px;
  white-space: pre-line;
}

.selectedCard {
  border-color: #5fcb39;
}