.goals {
  max-width: 360px;
  margin: 0 auto;
}

.mainTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  width: fit-content;
  margin: 0 auto;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #616161;
  width: fit-content;
  margin: 0 auto;
}

.titles {
  padding-block: 15px;
}

.goalsTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  text-align: center;
}

.cardsContainer {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}
